@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Fjalla+One&display=swap');
*{
    font-family: "Fjalla One", sans-serif;
}